
/*
Paleta de colores 

Primario-Verde: #4CAF50 

Complementario1-Azul-Violeta: #4F50CA

Complementario2-Rojo-Anaranjado: #CA4F50
*/
body {
    background-image: url("../Img/fondo_pantalla.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

button {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4CAF50; /* Fondo verde específico para el botón */
    color: white;
    border: none;
    border-radius: 5px;
}

input{
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 5px;
    color: white;
    background-color: #4F50CA ;
}
